<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Otus" verbose="1" >
    <listeners>
        <listener class-name="com.blazedemo.listeners.TestListener" />
    </listeners>

    <test name="BlazeDemo">
        <classes>
            <class name="com.blazedemo.test.JDITest"></class>
            <class name="dummy.test.DummyTest"></class>
            <class name="dummy.test.DummyTest2"></class>
        </classes>
    </test>
</suite>